
# Don't commit Godot editor binaries
Godot/*.exe

# Ignore build output and project-specific Godot configs
/Build/
/Build - Mining/
/Build - Red Sky/
/Build - */

# ignore all Godot project config directories
**/.godot/

# Ignore Godot export package files
*.pck
*.TMP

# Ignore local validation output
**/.validation/
