
# Don't commit Godot editor binaries
Godot/*.exe

# Ignore build output and project-specific Godot configs
/Build/

# ignore all Godot project config directories
**/.godot/

# Ignore Godot export package files
*.pck
